@model MABMoney.Web.Models.Transactions.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Create Transaction</h1>

@using (Html.BeginForm("Edit", "Transactions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Date)
   
    @Html.TextControlGroupFor(x => x.Description)

    @Html.TextControlGroupFor(x => x.Amount)
    
    @Html.SelectControlGroupFor(x => x.Category_CategoryID, Model.Categories, "Please select...")
    
    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Save")
}
