@model MABMoney.Web.Models.Transactions.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Transaction</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Date)
    @Html.EditorFor(x => x.Date)
    @Html.ValidationMessageFor(x => x.Date)</p>
   
    <p>@Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description)
    @Html.ValidationMessageFor(x => x.Description)</p>
    
    <p>@Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount)
    @Html.ValidationMessageFor(x => x.Amount)</p>
    
    <p>@Html.LabelFor(x => x.Category_CategoryID)
    @Html.DropDownListFor(x => x.Category_CategoryID, Model.Categories, "Please select...")
    @Html.ValidationMessageFor(x => x.Category_CategoryID)</p>
    
    <p>@Html.LabelFor(x => x.Account_AccountID)
    @Html.DropDownListFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    @Html.ValidationMessageFor(x => x.Account_AccountID)</p>

    <p><input type="submit" value="Save" /></p>
}
