@model MABMoney.Web.Models.Transactions.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit Transaction</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Date)
    @Html.EditorFor(x => x.Date)
    @Html.ValidationMessageFor(x => x.Date)</p>
   
    <p>@Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description)
    @Html.ValidationMessageFor(x => x.Description)</p>
    
    <p>@Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount)
    @Html.ValidationMessageFor(x => x.Amount)</p>
    
    <p>@Html.LabelFor(x => x.Category_CategoryID)
    @Html.DropDownListFor(x => x.Category_CategoryID, Model.Categories, "Please select...")
    @Html.ValidationMessageFor(x => x.Category_CategoryID)</p>
    
    <p>@Html.LabelFor(x => x.Account_AccountID)
    @Html.DropDownListFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    @Html.ValidationMessageFor(x => x.Account_AccountID)</p>

    <p>@Html.HiddenFor(x => x.TransactionID)
    <input type="submit" value="Save" class="btn btn-primary" /></p>
}

@using (Html.BeginForm("Delete", "Transactions"))
{
    <p><input type="hidden" name="id" value="@Model.TransactionID" /><input type="submit" value="Delete" class="btn" /></p>
}