@model MABMoney.Web.Models.Transactions.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit Transaction</h2>

@using (Html.BeginForm("Edit", "Transactions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Date)
   
    @Html.TextControlGroupFor(x => x.Description)

    @Html.TextControlGroupFor(x => x.Amount)
    
    @Html.SelectControlGroupFor(x => x.Category_CategoryID, Model.Categories, "Please select...")
    
    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")

    @Html.HiddenFor(x => x.TransactionID)

    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Transactions", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.TransactionID" />
    
    @Html.ButtonControlGroup("Delete")
}