@model MABMoney.Web.Models.Transactions.ImportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Import Transactions</h1>
    </div>
</div>

@if (Model.RecordsImported != 0)
{
    <div class="row">
        <div class="col-md-12">
            <p>@Model.RecordsImported transactions imported.</p>
        </div>
    </div>
}

@using (Html.BeginForm("Import", "Transactions", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.FileControlGroupFor(x => x.File)
    
    @Html.HiddenFor(x => x.RecordsImported)
    
    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    
    @Html.SubmitControlGroup("Import")
}