@model MABMoney.Web.Models.Transactions.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Transactions</h1>
    </div>
</div>
@using (Html.BeginForm("Index", "Transactions")) {
<div class="row">
    <div class="col-md-3">Account @Html.DropDownListFor(x => x.AccountID, Model.Accounts, "Please select an account...", new { @class = "form-control", id = "Transactions_AccountID" })</div>
    <div class="col-md-3">Category @Html.DropDownListFor(x => x.CategoryID, Model.Categories, "Please select a category...", new { @class = "form-control" })</div>
    <div class="col-md-2">From @Html.EditorFor(x => x.From, new { @class = "form-control", placeholder = "From" })</div>
    <div class="col-md-2">To @Html.EditorFor(x => x.To, new { @class = "form-control", placeholder = "To" })</div>
    <div class="col-md-2">
        &nbsp;
        @Html.HiddenFor(x => x.From)
        @Html.HiddenFor(x => x.To)
        <input type="submit" value="Go" class="btn btn-primary btn-block" />
    </div>
</div>
}
<div class="row">
    <div class="col-md-12">
        @if (Model.Transactions != null)
        {
            <table class="table table-striped table-bordered">
                <caption>Transaction List</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Note</th>
                        <th>Amount</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Date.ToString("dd/MM/yyyy")</td>
                            <td>@transaction.Category.Name</td>
                            <td>@transaction.Description</td>
                            <td>@transaction.Note</td>
                            <td>@transaction.Amount.ToString("#0.00")</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = transaction.TransactionID })</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="4" class="text-right">Income:</th>
                        <th>@Model.Transactions.Where(x => x.Amount >= 0).Sum(x => x.Amount).ToString("#0.00")</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">Expenses:</th>
                        <th>@((Model.Transactions.Where(x => x.Amount < 0).Sum(x => x.Amount) * -1).ToString("#0.00"))</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">Total:</th>
                        <th>@Model.Transactions.Sum(x => x.Amount).ToString("#0.00")</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        } else {
            <p>Please select an account and date range above.<br /><br /></p>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2">@Html.ActionLink("Add New Transaction", "Create", null, new { @class = "btn btn-primary btn-block" })</div>
    <div class="col-md-8"></div>
    <div class="col-md-2">@Html.ActionLink("Import Transactions", "Import", null, new { @class = "btn btn-primary btn-block" })</div>
</div>
