@model MABMoney.Web.Models.Transactions.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Transactions</h2>

<table class="table table-striped">
    <caption>Transaction List</caption>
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
        <tr>
            <td>@transaction.Date.ToString("dd/MM/yyyy")</td>
            <td>@transaction.Category.Name</td>
            <td>@transaction.Description</td>
            <td>@transaction.Amount.ToString("#0.00")</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = transaction.TransactionID })</td>
        </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Add New Transaction", "Create")</p>

<p>@Html.ActionLink("Import Transactions", "Import")</p>
