@model MABMoney.Web.Models.Budgets.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create Budget</h1>
    </div>
</div>

@using (Html.BeginForm("CreateFromExistingBudget", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.SelectControlGroupFor(x => x.Budget_BudgetID, Model.Budgets, "Select a previous budget...")

    @Html.SubmitControlGroup("Copy amounts")
    
    @Html.HiddenFor(x => x.Account_AccountID)
}

@using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Start)
    
    @Html.EditorControlGroupFor(x => x.End)

    if(Model.Account_AccountID == 0) {

        @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
        
    } else {
        
        @Html.HiddenFor(x => x.Account_AccountID)

    }
    
    @Html.EditorFor(x => x.Categories)
    
    @Html.ButtonControlGroup("Add Category", new { id = "add-category-button" })
    
    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}