@model MABMoney.Web.Models.Budgets.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Budget</h2>

@using (Html.BeginForm("CreateFromExistingBudget", "Budgets", FormMethod.Post, new { @class = "form-inline" }))
{
    <p>
        @Html.DropDownListFor(x => x.Budget_BudgetID, Model.Budgets, "Select a previous budget...") @Html.HiddenFor(x => x.Account_AccountID)
        <input type="submit" value="Copy amounts from this budget" class="btn btn-primary" /></p>
}


@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Start)
    @Html.EditorFor(x => x.Start)
    @Html.ValidationMessageFor(x => x.Start)</p>
    
    <p>@Html.LabelFor(x => x.End)
    @Html.EditorFor(x => x.End)
    @Html.ValidationMessageFor(x => x.End)</p>

    if(Model.Account_AccountID == 0) {
    
        <p>@Html.LabelFor(x => x.Account_AccountID)
        @Html.DropDownListFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
        @Html.ValidationMessageFor(x => x.Account_AccountID)</p>
        
    } else {
        
        @Html.HiddenFor(x => x.Account_AccountID)

    }
    
    @Html.EditorFor(x => x.Categories)

    <p><input type="submit" value="Save" class="btn btn-primary" /></p>
}