@model MABMoney.Web.Models.Budgets.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Create Budget</h1>

@using (Html.BeginForm("CreateFromExistingBudget", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Budget_BudgetID, new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(x => x.Budget_BudgetID, Model.Budgets, "Select a previous budget...", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.HiddenFor(x => x.Account_AccountID)
            <input type="submit" value="Copy amounts from this budget" class="btn btn-primary" />
        </div>
    </div>
}

@using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Start)
    
    @Html.EditorControlGroupFor(x => x.End)

    if(Model.Account_AccountID == 0) {

        @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
        
    } else {
        
        @Html.HiddenFor(x => x.Account_AccountID)

    }
    
    @Html.EditorFor(x => x.Categories)

    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <input type="button" value="Add Category" class="btn btn-default" id="add-category-button" />
        </div>
    </div>
    
    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}