@model MABMoney.Web.Models.Budgets.CreateFromExistingBudgetViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Budget From Existing</h2>

@using (Html.BeginForm("CreateFromExistingBudget", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        @Html.LabelFor(x => x.Budget_BudgetID, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(x => x.Budget_BudgetID, Model.Budgets, "Select a previous budget...")
            @Html.HiddenFor(x => x.Account_AccountID)
            <input type="submit" value="Copy amounts from this budget" class="btn btn-primary" />
        </div>
    </div>
}

@using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Start)
    
    @Html.EditorControlGroupFor(x => x.End)

    if(Model.Account_AccountID == 0) {

        @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
        
    } else {
        
        @Html.HiddenFor(x => x.Account_AccountID)

    }
    
    @Html.EditorFor(x => x.Categories)

    <div class="control-group">
        <label class="control-label" for="add-category-button">&nbsp;</label>
        <div class="controls">
            <input type="button" value="Add Category" class="btn" id="add-category-button" />
        </div>
    </div>

    @Html.SubmitControlGroup("Save")
}
