@model MABMoney.Web.Models.Budgets.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Budget</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Start)
    @Html.EditorFor(x => x.Start)
    @Html.ValidationMessageFor(x => x.Start)</p>
    
    <p>@Html.LabelFor(x => x.End)
    @Html.EditorFor(x => x.End)
    @Html.ValidationMessageFor(x => x.End)</p>
    
    @Html.EditorFor(x => x.Categories)

    <p><input type="submit" value="Save" /></p>
}
