@model MABMoney.Web.Models.Budgets.DetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <h2>Budget Details</h2>
        <p>@Model.Start.ToString("dd/MM/yyyy") to @Model.End.ToString("dd/MM/yyyy")</p>
    </div>
</div>

@foreach (var category in Model.Categories)
{
    var percentage = (category.Total / category.Amount * 100);
    var barwidth = Math.Abs(percentage) / 2;
    
    <div class="row-fluid">
        <div class="span3"><div class="category-label">@category.Name</div></div>
        <div class="span9">
            <div class="category-bar"><div class="category-stats">@((category.Total).ToString("#0.00")) of @category.Amount.ToString("#0.00") (@percentage.ToString("#0.00")%)</div><div class="category-progress" style="width: @(barwidth)%;">&nbsp;</div></div>
        </div>
    </div>
}
