@model MABMoney.Web.Models.Budgets.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit Budget</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Start)
    @Html.EditorFor(x => x.Start)
    @Html.ValidationMessageFor(x => x.Start)</p>
    
    <p>@Html.LabelFor(x => x.End)
    @Html.EditorFor(x => x.End)
    @Html.ValidationMessageFor(x => x.End)</p>

    <p>@Html.LabelFor(x => x.Account_AccountID)
    @Html.DropDownListFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    @Html.ValidationMessageFor(x => x.Account_AccountID)</p>
    
    @Html.EditorFor(x => x.Categories)

    <p>@Html.HiddenFor(x => x.BudgetID)
    <input type="submit" value="Save" class="btn btn-primary" /></p>
}

@using (Html.BeginForm("Delete", "Budgets"))
{
    <p><input type="hidden" name="id" value="@Model.BudgetID" /><input type="submit" value="Delete" class="btn" /></p>
}