@model MABMoney.Web.Models.Budgets.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit Budget</h2>

@using (Html.BeginForm("Edit", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorControlGroupFor(x => x.Start)
    
    @Html.EditorControlGroupFor(x => x.End)

    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    
    @Html.EditorFor(x => x.Categories)

    <div class="control-group">
        <label class="control-label" for="add-category-button">&nbsp;</label>
        <div class="controls">
            <input type="button" value="Add Category" class="btn" id="add-category-button" />
        </div>
    </div>
    
    @Html.HiddenFor(x => x.BudgetID)

    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Budgets", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="id" value="@Model.BudgetID" />
    
    @Html.ButtonControlGroup("Delete")
}