@model MABMoney.Web.Models.Budgets.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Edit Budget</h1>
    </div>
</div>

@using (Html.BeginForm("Edit", "Budgets", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
{
    @Html.EditorControlGroupFor(x => x.Start)
    
    @Html.EditorControlGroupFor(x => x.End)

    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    
    @Html.EditorFor(x => x.Categories)

    @Html.ButtonControlGroup("Add Category", new { id = "add-category-button" })
    
    @Html.HiddenFor(x => x.BudgetID)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Budgets", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.BudgetID" />
    
    <input type="hidden" name="RedirectAfterSubmitUrl" value="@Model.RedirectAfterSubmitUrl" />
    
    @Html.SubmitControlGroup("Delete", new { @class = "btn-default" })
}