@model MABMoney.Web.Models.Accounts.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Account</h2>

@using (Html.BeginForm("Create", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Name)
    
    @Html.CheckboxControlGroupFor(x => x.Default)

    @Html.TextControlGroupFor(x => x.StartingBalance)
    
    @Html.SelectControlGroupFor(x => x.Type, Model.AccountTypes, "Please select...")

    @Html.SubmitControlGroup("Save")
}
