@model MABMoney.Web.Models.Accounts.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create Account</h1>
        <p>Let's set up your first account. Don't worry—you can change any of these things later if you need to!</p>
    </div>
</div>

@using (Html.BeginForm("Create", "Accounts", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
{
    @Html.TextControlGroupFor(x => x.Name, new { @class = "help", placeholder = "e.g. Current Account", data_content = "A 'friendly', easy to remember name for the bank account you're adding." })
    
    @Html.SelectControlGroupFor(x => x.Type, Model.AccountTypes, "Please select...", new { @class = "help", data_content = "The type of account you are adding: this determines whether we show you a budget planner or a repayment calculator when you view this account." })
    
    @Html.TextControlGroupFor(x => x.StartingBalance, new { @class = "help", data_content = "The current balance of this account.", type = "number", pattern = @"\d*" })
    
    @Html.TextControlGroupFor(x => x.DisplayOrder, new { @class = "help", data_content = "Display order when accounts are listed (e.g. Net Worth dropdown)", type = "number", pattern = @"\d*" })
    
    // Html.CheckboxControlGroupFor(x => x.Default, new { data_content = "Make this the account which loads by default when you open MABMoney (this would usually be your current or checking account)." })
    
    @Html.HiddenFor(x => x.Default)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}
