@model MABMoney.Web.Models.Accounts.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Account</h2>

@using (Html.BeginForm())
{
    <div class="editor-label">
        @Html.LabelFor(x => x.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    
    <div class="editor-field">
        <label for="Default" class="checkbox">
            @Html.CheckBoxFor(x => x.Default) Default Account
        </label>
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.StartingBalance)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.StartingBalance)
        @Html.ValidationMessageFor(x => x.StartingBalance)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.Type)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.Type, Model.AccountTypes, "Please select...")
        @Html.ValidationMessageFor(x => x.Type)
    </div>


    <p><input type="submit" value="Save" class="btn btn-primary" /></p>
}
