@model MABMoney.Web.Models.Accounts.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit Account</h2>

@using (Html.BeginForm("Edit", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Name)
    
    @Html.CheckboxControlGroupFor(x => x.Default)

    @Html.TextControlGroupFor(x => x.StartingBalance)
    
    @Html.SelectControlGroupFor(x => x.Type, Model.AccountTypes, "Please select...")

    @Html.HiddenFor(x => x.AccountID)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Accounts", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.AccountID" />
    
    <input type="hidden" name="RedirectAfterSubmitUrl" value="@Model.RedirectAfterSubmitUrl" />
        
    @Html.ButtonControlGroup("Delete")
}