@model MABMoney.Web.Models.Accounts.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Edit Account</h1>
    </div>
</div>

@using (Html.BeginForm("Edit", "Accounts", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
{
    @Html.TextControlGroupFor(x => x.Name)
    
    @Html.CheckboxControlGroupFor(x => x.Default)

    @Html.SelectControlGroupFor(x => x.Type, Model.AccountTypes, "Please select...")
    
    @Html.TextControlGroupFor(x => x.StartingBalance, new { type = "number", pattern = @"\d*" })
    
    @Html.TextControlGroupFor(x => x.DisplayOrder, new { type = "number", pattern = @"\d*" })

    @Html.HiddenFor(x => x.AccountID)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Accounts", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.AccountID" />
    
    <input type="hidden" name="RedirectAfterSubmitUrl" value="@Model.RedirectAfterSubmitUrl" />
        
    @Html.SubmitControlGroup("Delete", new { @class = "btn-default" })
}