@model MABMoney.Web.Models.Accounts.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Accounts</h2>

<table class="table table-striped">
    <caption>Account List</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Balance</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
        <tr>
            <td>@account.Name @((account.Default) ? "(Default)" : "")</td>
            <td>@account.CurrentBalance</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = account.AccountID })</td>
        </tr>
        }
    </tbody>
</table>

<div class="row button-row">
    <div class="span2">
        @Html.ActionLink("Add New Account", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="span8">&nbsp;</div>
    <div class="span2">&nbsp;</div>
</div>
