@model MABMoney.Web.Models.Categories.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Create Category</h1>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Name)
    
    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")

    @Html.SelectControlGroupFor(x => x.Type, Model.CategoryTypes, "Please select...")
    
    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Save")
}
