@model MABMoney.Web.Models.Categories.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create Category</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)</p>
    
    <p>@Html.LabelFor(x => x.Account_AccountID)
    @Html.DropDownListFor(x => x.Account_AccountID, Model.Accounts, "Please select...")
    @Html.ValidationMessageFor(x => x.Account_AccountID)</p>
    
    <p>@Html.LabelFor(x => x.Type)
    @Html.DropDownListFor(x => x.Type, new SelectList(Enum.GetValues(typeof(MABMoney.Services.DTO.CategoryTypeDTO))))
    @Html.ValidationMessageFor(x => x.Type)</p>

    <p><input type="submit" value="Save" /></p>
}
