@model MABMoney.Web.Models.Categories.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Edit Category</h1>
    </div>
</div>

@using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Name)
    
    @Html.SelectControlGroupFor(x => x.Account_AccountID, Model.Accounts, "Please select...")

    @Html.SelectControlGroupFor(x => x.Type, Model.CategoryTypes, "Please select...")
    
    @Html.HiddenFor(x => x.CategoryID)
    
    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Categories", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.CategoryID" />
    
    <input type="hidden" name="RedirectAfterSubmitUrl" value="@Model.RedirectAfterSubmitUrl" />
    
    @Html.SubmitControlGroup("Delete", new { @class = "btn-default" })
}