@model MABMoney.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Account Overview</h2>

<ul>
    <li>@Html.ActionLink("Edit Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Edit Accounts", "Index", "Accounts")</li>
    <li>@Html.ActionLink("Edit Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Edit Transactions", "Index", "Transactions")</li>
    <li>@Html.ActionLink("Edit Budgets", "Index", "Budgets")</li>
</ul>
