@model MABMoney.Web.Models.Home.MainNavigationViewModel

<div class="row">
    <div class="col-md-6">
        <a href="/">MABMoney <span>STAGING</span></a>
    </div>
    @if(Model.Profile.UserID != 0) {
    <div class="col-md-3" id="net-worth-display">
        <button id="net-worth" type="button" class="btn btn-default btn-info btn-block" data-toggle="dropdown">Net Worth: @Model.NetWorth.ToString("c")</button>
        <div id="net-worth-content">
            <table id="net-worth-content-table">
                @foreach (var account in Model.Accounts)
                {
                    <tr>
                        <th>@account.Name</th>
                        <td class="r">@account.CurrentBalance.ToString("#0.00")</td>
                    </tr>
                }
            </table>
            @Model.Debug
        </div>
    </div>
    <div class="col-md-3">

        <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">@Model.Profile.UserEmail <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right user-menu">
            <li>@Html.ActionLink("Accounts", "Index", "Accounts", null, new { tabindex = -1 })</li>
            <li>@Html.ActionLink("Categories", "Index", "Categories", null, new { tabindex = -1 })</li>
            <li>@Html.ActionLink("Transactions", "Index", "Transactions", null, new { tabindex = -1 })</li>
            <li>@Html.ActionLink("Budgets", "Index", "Budgets", null, new { tabindex = -1 })</li>
            <li class="divider"></li>
            @if(Model.Profile.IsAdmin) {
            <li>@Html.ActionLink("Users", "Index", "Users", null, new { tabindex = -1 })</li>
            }
            <li>@Html.ActionLink("Logout", "Logout", "Users", null, new { tabindex = -1 })</li>
        </ul>

    </div>  
    }
</div>