@model List<MABMoney.Caching.CacheItemInfo>
           
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Show Cache Contents</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Value</th>
                <th>Hit</th>
                <th>Miss</th>
            </tr>

            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Type</td>
                    <td>@entry.Value</td>
                    <td>@entry.Hits</td>
                    <td>@entry.Misses</td>
                </tr>
            
            }
            
        </table>
    </body>
</html>