@model MABMoney.Web.Models.Home.SignupViewModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Sign Up</h2>

@using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Forename)

    @Html.TextControlGroupFor(x => x.Surname)

    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.PasswordControlGroupFor(x => x.ConfirmPassword)

    @Html.SubmitControlGroup("Create Account")
}