@model MABMoney.Web.Models.Users.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create User</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Forename)

    @Html.TextControlGroupFor(x => x.Surname)

    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.PasswordControlGroupFor(x => x.ConfirmPassword)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}
