@model MABMoney.Web.Models.Users.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create User</h1>
    </div>
</div>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Forename)

    @Html.TextControlGroupFor(x => x.Surname)

    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.PasswordControlGroupFor(x => x.ConfirmPassword)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Save")
}
