@model MABMoney.Web.Models.Users.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Forename)

    @Html.TextControlGroupFor(x => x.Surname)

    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.PasswordControlGroupFor(x => x.ConfirmPassword)

    @Html.HiddenFor(x => x.UserID)

    @Html.SubmitControlGroup("Save")
}

@using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { @class = "form-horizontal delete-form" }))
{
    <input type="hidden" name="id" value="@Model.UserID" />
    
    @Html.ButtonControlGroup("Delete")
}