@model MABMoney.Web.Models.Users.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Users</h2>

<table class="table table-striped">
    <caption>User List</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@user.Forename @user.Surname</td>
            <td>@user.Email</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserID })</td>
        </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Add New User", "Create")</p>
