@model MABMoney.Web.Models.Users.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <caption>User List</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                <tr>
                    <td>@user.Forename @user.Surname</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserID })</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">@Html.ActionLink("Add New User", "Create", null, new { @class = "btn btn-primary" })</div>
    <div class="col-md-10"></div>
</div>