@model MABMoney.Web.Models.Users.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Login</h1>
    </div>
</div>

@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <div class="form-control-static">@Html.ActionLink("I've forgotten my password", "PasswordResetRequest")</div>
        </div>
    </div>

    @Html.CheckboxControlGroupFor(x => x.RememberMe)
    
    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Log In")
}

<div class="row">
    <div class="col-md-4 col-md-offset-2">@Html.ActionLink("Don't have an account? Click here to create one.", "Signup", "Users", null, new { @class = "btn btn-default btn-block" })</div>
</div>