@model MABMoney.Web.Models.Users.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="editor-label">
        @Html.LabelFor(x => x.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    
    <div class="editor-field">
        <label for="RememberMe" class="checkbox">
            @Html.CheckBoxFor(x => x.RememberMe) Remember Me
        </label>
    </div>
    
    <p><input type="submit" class="btn btn-primary" value="Log In" /></p>
    
    <p>@Html.ActionLink("Forgot password?", "PasswordResetRequest")</p>
}

<p>@Html.ActionLink("Don't have an account? Click here to create one.", "Signup", "Home", null, new { @class = "btn" })</p>