@model MABMoney.Web.Models.Users.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.TextControlGroupFor(x => x.Email)

    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.CheckboxControlGroupFor(x => x.RememberMe)
    
    @Html.SubmitControlGroup("Log In")
    
    <p>@Html.ActionLink("Forgot password?", "PasswordResetRequest")</p>
}

<p>@Html.ActionLink("Don't have an account? Click here to create one.", "Signup", "Home", null, new { @class = "btn" })</p>