@model MABMoney.Web.Models.Users.PasswordResetViewModel

@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Password Reset</h2>

@using (Html.BeginForm("PasswordReset", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    @Html.PasswordControlGroupFor(x => x.Password)

    @Html.PasswordControlGroupFor(x => x.ConfirmPassword)

    @Html.HiddenFor(x => x.GUID)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)

    @Html.SubmitControlGroup("Update Password")  
}