@model MABMoney.Web.Models.Budgets.Category_BudgetViewModel

@using System.Text.RegularExpressions

@{
    var index = new Regex(@"_(\d+)_").Match(ViewData.TemplateInfo.GetFullHtmlFieldId("")).Groups[1].Value;
}

<div class="form-group">
    <div class="col-md-2">
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(x => x.Amount, new { placeholder = "Amount", @class = "form-control" })
    </div>
    <div class="col-md-2">
        <a class="cat-delete btn btn-default" id="del@(index)" href="#del@(Model.Category_CategoryID)">Delete</a>
    </div>
    <div class="col-md-6">
        @Html.ValidationMessageFor(x => x.Amount)
        @Html.HiddenFor(x => x.Budget_BudgetID)
        @Html.HiddenFor(x => x.Category_CategoryID)
    </div>
</div>