@model MABMoney.Web.Models.Budgets.Category_BudgetViewModel

<div class="control-group">
    @Html.LabelFor(x => x.Amount, Model.Name, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(x => x.Amount, new { placeholder = "Email" })
        @Html.ValidationMessageFor(x => x.Amount)
        @Html.HiddenFor(x => x.Budget_BudgetID)
        @Html.HiddenFor(x => x.Category_CategoryID)
    </div>
</div>