@using System.Configuration;
@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? "STAGING " : "")MABMoney</title>
        <link rel="shortcut icon" type="image/x-icon" href="/Content/Img/favicon.ico">
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        @Styles.Render("~/Content/Css/bootstrap")
        @Styles.Render("~/Content/Css/base")
    </head>
    <body @(Html.Raw((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? "id=\"staging\"" : ""))>
        <div class="container">
            @{ Html.RenderAction("MainNavigation", "Home"); }
            @RenderBody()
        </div>
        @Scripts.Render("~/Content/Js/jquery")
        @Scripts.Render("~/Content/Js/bootstrap")
        @Scripts.Render("~/Content/Js/base")
        <script type="text/javascript">MABMoney.setOptions({ cookieKey: '@ConfigurationManager.AppSettings["CookieKey"]' });</script>
        <script id="tmpl-payment-calc-row" type="x-tmpl-mustache">
            <tr>
                <td>{{month}}</td>
                <td>{{monthStart}}</td>
                <td>{{interest}}</td>
                <td>{{minPayment}}</td>
                <td>{{payment}}</td>
                <td>{{monthEnd}}</td>
            </tr>
        </script>
        @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: true)
        @if(!(Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"]))) {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-47764645-1', 'apphb.com');
            ga('send', 'pageview');
        </script>
        }
    </body>
</html>
