@using StackExchange.Profiling;
@using System.Configuration;
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? "STAGING " : "")MABMoney</title>
        <link rel="shortcut icon" type="image/x-icon" href="/Content/Img/favicon.ico">
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        @Styles.Render("~/Content/Css/base")
    </head>
    <body@(Html.Raw((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? " id=\"staging\"" : ""))>
        <div class="container">
            @{ Html.RenderAction("MainNavigation", "Home"); }
            @RenderBody()
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        @Scripts.Render("~/Content/Js/base")
        @MiniProfiler.RenderIncludes(position: RenderPosition.Right, useExistingjQuery: true)
    </body>
</html>
