@using System.Configuration;
@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? "STAGING " : "")MABMoney</title>
        <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Img/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="~/Content/Img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="~/Content/Img/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="~/Content/Img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="~/Content/Img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="~/Content/Img/manifest.json">
        <link rel="shortcut icon" href="~/Content/Img/favicon.ico">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="MABMoney">
        <meta name="application-name" content="MABMoney">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-TileImage" content="~/Content/Img/mstile-144x144.png">
        <meta name="msapplication-config" content="~/Content/Img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/base")
    </head>
    <body @(Html.Raw((Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"])) ? "id=\"staging\"" : ""))>
        <div class="container">
            @{ Html.RenderAction("MainNavigation", "Home"); }
            @RenderBody()
        </div>
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
        @Scripts.Render("~/Scripts/base")
        <script type="text/javascript">MABMoney.setOptions({ cookieKey: '@ConfigurationManager.AppSettings["CookieKey"]', basePath: '@Url.Action("Index", "Home", null)' });</script>
        <script id="tmpl-payment-calc-row" type="x-tmpl-mustache">
            <tr>
                <td>{{month}} {{year}}</td>
                <td>{{monthStart}}</td>
                <td>{{interest}}</td>
                <td>{{minPayment}}</td>
                <td>{{payment}}</td>
                <td>{{monthEnd}}</td>
            </tr>
        </script>
        <script id="tmpl-budget-category-edit-form" type="x-tmpl-mustache">
            <div class="form-group">
                <div class="col-md-2">
                    <input class="form-control" id="Categories_{{INDEX}}__Name" name="Categories[{{INDEX}}].Name" placeholder="Name" type="text" value="">
                </div>
                <div class="col-md-2">
                    <input class="form-control" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="Categories_{{INDEX}}__Amount" name="Categories[{{INDEX}}].Amount" placeholder="Amount" type="number" pattern="\d*" value="0">
                </div>
                <div class="col-md-2">
                    <a class="cat-delete btn btn-default" id="del{{INDEX}}" href="#del0">Delete</a>
                </div>
                <div class="col-md-6">
                    <span class="field-validation-valid" data-valmsg-for="Categories[{{INDEX}}].Amount" data-valmsg-replace="true"></span>
                    <input data-val="true" data-val-number="The field Budget_BudgetID must be a number." data-val-required="The Budget_BudgetID field is required." id="Categories_{{INDEX}}__Budget_BudgetID" name="Categories[{{INDEX}}].Budget_BudgetID" type="hidden" value="0">
                    <input data-val="true" data-val-number="The field Category_CategoryID must be a number." data-val-required="The Category_CategoryID field is required." id="Categories_{{INDEX}}__Category_CategoryID" name="Categories[{{INDEX}}].Category_CategoryID" type="hidden" value="0">
                </div>
            </div>
        </script>
        <script id="tmpl-budget-category-delete-form" type="x-tmpl-mustache">
            <div>
                <div>
                    <input data-val="true" id="Categories_{{INDEX}}__Delete" name="Categories[{{INDEX}}].Delete" type="hidden" value="true">
                    <input data-val="true" id="Categories_{{INDEX}}__Amount" name="Categories[{{INDEX}}].Amount" type="hidden" value="0">
                    <input data-val="true" id="Categories_{{INDEX}}__Budget_BudgetID" name="Categories[{{INDEX}}].Budget_BudgetID" type="hidden" value="0">
                    <input data-val="true" id="Categories_{{INDEX}}__Category_CategoryID" name="Categories[{{INDEX}}].Category_CategoryID" type="hidden" value="{{ID}}">
                </div>
            </div>
        </script>
        @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: true)
        @if(!(Convert.ToBoolean(ConfigurationManager.AppSettings["Staging"]))) {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-47764645-1', 'apphb.com');
            ga('send', 'pageview');
        </script>
        }
    </body>
</html>
